{% extends "layout.html" %} {% block title %} favorites {% endblock %} {% block main %}
<div class="title text-muted">
    <h2>my cart</h2>
</div>
<div class="insights parts">
    {% for row in rows %}
    <div class="one">
        <h2 class="cap">{{ row["part"] }}</h2>
        <div class="middle">
            <div class="lef">
                <h1>{{row["price"]}} $</h1>
            </div>
            <div class="service">
                <img src="../static/images/parts/{{row["part"]}}.png" alt="">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}