{% extends "layout.html" %}
{% block title %}
  index
{% endblock %}
{% block main %}
    <div class="title text-muted">
        <h2>welcome</h2> 
    </div>
    <div class="insights">
        <div class="one">
            <span class="material-icons-sharp">add_task</span>
            <div class="middle">
                <div class="lef">
                    <h3>make an appointment</h3>
                    <h1>it's easy</h1>
                </div>
                <div class="progress">
                    <img src="../static/images/calendar.png" alt="">
                </div>
            </div>
            <b class="text-muted">professional customers service</b>
        </div>
     
        <div class="two">
            <span class="material-icons-sharp">engineering</span>
            <div class="middle">
                <div class="lef">
                    <h3> 24 working hours </h3>
                    <h1>at your service</h1>
                </div>
                <div class="progress">
                  <img src="../static/images/24-7.png" alt="">
                </div>
            </div>
            <b class="text-muted">professional specialists</b>
        </div>
        <!--end of expenses-->
        <div class="three">
            <span class="material-icons-sharp">wifi</span>
                <div class="middle">
                <div class="lef">
                    <h3>free</h3>
                    <h1>cofee & wifi</h1>
                </div>
                <div class="progress">
                        <img src="../static/images/free.png" alt="">
                </div>
            </div>
            <b class="text-muted">also children playground</b>
        </div>
        <!--end of income-->
    </div>
    <div class="hero">
     <h2>we <mark>care</mark>  about your car</h2>
    </div>
{% endblock%}