{% extends "layout.html" %} {% block title %} services {% endblock %} {% block main %}

<div class="title text-muted">
    <h2>our services</h2>
</div>
<div class="insights parts">
    <div class="one">
        <span><i class="fa-duotone fa-1"></i></span>
        <div class="middle">
            <div class="lef">
                <h1> auto maintenance services</h1>
            </div>
            <div class="service">
                <img src="../static/images/tools.png" alt="">
            </div>
        </div>
    </div>

    <div class="two">
        <span><i class="fa-solid fa-2"></i></span>
        <div class="middle">
            <div class="lef">
                <h1>brake repair pads</h1>
            </div>
            <div class="service">
                <img src="../static/images/brake-pad.png" alt="">
            </div>
        </div>

    </div>
    <!--end of expenses-->
    <div class="three">
        <span><i class="fa-solid fa-3"></i></span>
        <div class="middle">
            <div class="lef">
                <h1>shocks, struts replacement</h1>
            </div>
            <div class="service">
                <img src="../static/images/shock-absorber.png" alt="">
            </div>
        </div>
    </div>
    <div class="one">
        <span><i class="fa-solid fa-4"></i></span>
        <div class="middle">
            <div class="lef">

                <h1>system diagnosis & repair</h1>
            </div>
            <div class="service">
                <img src="../static/images/diagnosis.png" alt="">
            </div>
        </div>

    </div>
    <div class="two">
        <span><i class="fa-solid fa-5"></i></span>
        <div class="middle">
            <div class="lef">

                <h1>air conditioning services</h1>
            </div>
            <div class="service">
                <img src="../static/images/service.png" alt="">
            </div>
        </div>

    </div>
    <div class="three">
        <span><i class="fa-solid fa-6"></i></span>
        <div class="middle">
            <div class="lef">

                <h1>tires & wheels balancing</h1>
            </div>
            <div class="service">
                <img src="../static/images/balancing.png" alt="">
            </div>
        </div>

    </div>
    <div class="one">
        <span><i class="fa-solid fa-7"></i></span>
        <div class="middle">
            <div class="lef">
                <h1>towing service</h1>
            </div>
            <div class="service">
                <img src="../static/images/car-service.png" alt="">
            </div>
        </div>

    </div>
    <div class="two">
        <span><i class="fa-solid fa-8"></i></span>
        <div class="middle">
            <div class="lef">

                <h1>jump start</h1>
            </div>
            <div class="service">
                <img src="../static/images/jump-start.png" alt="">
            </div>
        </div>

    </div>
    <div class="three">
        <span><i class="fa-solid fa-9"></i></span>
        <div class="middle">
            <div class="lef">

                <h1>body repair & painting</h1>
            </div>
            <div class="service">
                <img src="../static/images/car-painting.png" alt="">
            </div>
        </div>

    </div>

</div>


{% endblock%}